<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> 
  </head>
  <body>
    <header class="bg-white shadow-md">
      <nav class="container mx-auto px-6 py-3">
        <div class="flex justify-between items-center">
          <a class="text-xl font-bold text-gray-800 font-mono"
          >Event-Management</a>
          <div class="hidden md:flex space-x-4">
              <a href="{% url 'home' %}"class="text-gray-600 hover:text-gray-800">Home</a>
              <a href="{% url 'dashboard' %}"
              class="text-gray-600 hover:text-gray-800">Dashboard</a
              >
              <a href="{% url 'create_event' %}"class="text-gray-600 hover:text-gray-800">Create Events</a>
              <a href="{% url 'create_group' %}"class="text-gray-600 hover:text-gray-800">Create Group</a>
              <a href="{% url 'group_list' %}" class="text-gray-600 hover:text-gray-800">Groups</a>
              <form method="post" action="{% url 'log_out' %}">
                {% csrf_token %}
                  <button class="block text-gray-600 hover:text-gray-800">
                      Logout
                  </button>
              </form>
          </div>
        </div>
        <div class="md:hidden ml-4">
            <button
              id="menu-toggle"
              class="text-gray-600 hover:text-gray-800 focus:outline-none"
            >
              <svg
                class="h-6 w-6"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16m-7 6h7"
                ></path>
              </svg>
            </button>
        </div>
        <div id="mobile-menu" class="md:hidden hidden mt-4">
          <a href="{% url 'dashboard' %}" class="block py-2 text-gray-600 hover:text-gray-800"
            >Dashboard</a
          >
          <a href="{% url 'create_event' %}" class="block py-2 text-gray-600 hover:text-gray-800"
            >Create Events</a>
          <a href="#" class="block py-2 text-gray-600 hover:text-gray-800"
            >Groups</a>
          <form method="post" action="{% url 'log_out' %}">
              {% csrf_token %}
              <button class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
                  Logout
              </button>
          </form>
        </div>
      </nav>
    </header>
    
    <main>
      {% block content %}
        {% include "admin/user_list.html" %}
      {% endblock content %}
    </main>

  </body>
</html>
