{% extends "admin/admin_dashboard.html" %}
{% block content %}
	{% include "message.html" %}
	<h1 class="mt-8 mb-5 text-center text-black text-2xl font-semibold">Change the Role of this User</h1>
	<div class="w-full max-w-lg mx-auto my-3 border border-blue-200 shadow-sm flex justify-center py-4 rounded-sm">
		<form action="" method="POST" class="mt-3 mx-3">
			{% csrf_token %}
			{{ form }}
			<button class="mt-3 px-2 py-1 text-white bg-blue-500 rounded" type="submit">Assign Role</button>
		</form>
	</div>
{% endblock content %}