{% extends "base.html" %}
{% block content %}      
{% comment %}main container{% endcomment %}
<div class="shadow-sm rounded-sm flex justify-center items-center h-screen w-full bg-rose-100 text-4xl font-semibold font-sans mt-5">Welcome To Event Management Home!</div>
<main class="mb-8 p-8">
	<div>
		{% comment %}category container{% endcomment %}
		<div class="flex justify-center items-center gap-4 mt-10">
			<h3 class="text-2xl font-semibold font-sans">Categories</h3>
			{% for ctg in categories %}
				<a href="{% url 'home' %}?category={{ ctg.name }}" class="px-3 py-2 bg-purple-200 rounded-lg hover:bg-gray-300 cursor-pointer">{{ ctg.name }}</a>

			{% endfor %}
		</div>	
		{% comment %}search by daterange{% endcomment %}
		<div class="px-3 mt-10 w-1/2">
			<form action="{% url 'home' %}" method="GET">
				{% csrf_token %}
				<div class="flex items-center gap-3 bg-blue-100 p-3 rounded-md">	        			
					<div>
            			<label for="start_date" class="text-blue-600 font-semibold font-sans">Start Date</label>
            			<input type="date" name="start_date" id = "start_date" class="search-date-box border-1 border-gray-400" required>
   					</div>
    				<div>
           		 		<label for="end_date" class="text-blue-600 font-semibold font-sans">End Date</label>
            			<input type="date" id="end_date" name="end_date" class="search-date-box border-1 border-gray-400" required>
    				</div>
    				<button type="submit" class="bg-blue-500 text-white px-2 py-1 rounded-md hover:bg-blue-700">
        			View Events
    				</button>
    			</div>
	 		</form>
		</div>
		<div class="w-full mx-auto mt-5">
			<ul>
				{% for message in messages %}
					<li class="shadow-md text-xl text-center font-semibold px-2 py-2 italic rounded-sm
                	{% if 'error' in message.tags %}
                    text-white bg-red-500  
                	{% elif 'success' in message.tags %}
                    text-black bg-green-500  
                    {% endif %}">{{message}}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% comment %}Events Container{% endcomment %}
	<div class="mt-8 grid grid-cols-4 gap-6">
		{% for evn in events %}
			<div class="bg-white px-3 py-4 rounded-md shadow-md">
				<div>
					<div class="bg-white p-6 rounded-lg shadow-xl">
			            <div class="space-y-4">
			              <img
			                src={{evn.evn_img.url}}
			                alt="Event Image"
			                class="w-full rounded-lg"
			              />
			           	</div>
		          	</div>
					<h2 class="text-xl font-semibold text-purple-900 mb-3 mt-5">{{ evn.name }}</h2>
					<p class="text-gray-500">Date: {{ evn.date }}</p>
                    <p class="text-gray-500">Category: {{ evn.category.name }}</p>
					<p class="text-gray-500">Participant: {{evn.participant.count}} </p>
					<div class="flex justify-center gap-3 mt-3">
						<div>
							<a href="{% url 'view_event' evn.id %}"><button class="detail-btn px-1 py-1 rounded-lg bg-blue-500 text-white hover:bg-blue-600">Details</button></a>	
						</div>
						<div>
							{% if user.is_authenticated %}
								<form method="post" action="{% url 'rsvp' evn.id %}">
	                			{% csrf_token %}
	                				<input type="hidden" name="event_id" value="{{ evn.id }}">
	                				<button type="submit"
	                    			class="bg-green-500 text-black px-3 py-1 rounded-lg hover:bg-red-400">
	                    			RSVP
	               	 				</button>
	            				</form>
            				{% else %}
            					<a href="{% url 'sign_in' %}"><button type="submit" class="bg-green-500 text-black px-3 py-1 rounded-lg hover:bg-red-400">RSVP</button></a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</main>
{% endblock content %}