{% extends "base.html" %}
{% block title %}
 {{ event.name }} - Event Details
{% endblock title %}

{% block content %}
<div class="container mx-auto px-4 py-8 max-w-7xl">
  <h1 class="text-3xl font-bold mb-6">{{ event.name }}</h1>

  <!-- Navigation Tabs -->
  <div class="flex gap-4 mb-8 border-b">
    <button
      class="px-4 py-2 bg-purple-50 text-purple-600 rounded-t-lg flex items-center gap-2"
    >
      <svg
        class="w-5 h-5"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2"
        ></path>
      </svg>
      Event Details
    </button>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
    <!-- Main Content -->
    <div class="lg:col-span-2">
      <div class="bg-white p-6 rounded-lg shadow-sm">
        <!-- Status Tags -->
        <div class="flex gap-3 mb-6">
          <span
            class="px-3 py-1 bg-purple-100 text-purple-700 rounded-full text-sm"
          >
            {{ event.category.name|upper }}
          </span>
          <span
            class="px-3 py-1 bg-green-100 text-green-700 rounded-full text-sm"
          >
            {% if event.date >= today %} Upcoming {% else %} Past {% endif %}
          </span>
        </div>

        <!-- Creation Date -->
        <div class="text-gray-600 mb-6">
         	<span class="font-medium">Date:</span> {{ event.date }}<br>
          	<span class="font-medium">Time:</span> {{ event.time }}<br>
        </div>

        <!-- Participants -->
        <div class="mb-9">
          <h2 class="text-xl font-bold mb-4">EVENT PARTICIPANTS</h2>
          {% if event.participant.all %}
          <div class="space-y-4">
            {% for p in event.participant.all %}
            <div class="flex items-center gap-4">
              <div
                class="w-10 h-10 bg-purple-600 rounded-full flex items-center justify-center text-white font-semibold"
              >
                {{ p.first_name|slice:":1" }}
              </div>
              <div>
                <div class="font-semibold">{{ p.first_name }} {{ p.last_name }}</div>
                <div class="text-gray-500">{{ p.email }}</div>
              </div>
            </div>
            {% endfor %}
          </div>
          {% else %}
          <p class="text-gray-600 italic">No participants yet</p>
          {% endif %}
        </div>

        <div class="flex gap-4">
          <a
            href="{% url 'update_event' event.id %}"
            class="px-4 py-2 bg-green-500 text-white rounded-md hover:bg-green-600"
            >Edit Event</a
          >
          <form action="{% url 'delete_event' event.id %}" method="POST">
            {% csrf_token %}
            <button
              class="px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-600"
              type="submit"
            >
              Delete Event
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="lg:col-span-1">

      <div class="bg-white p-6 rounded-lg shadow-sm mb-6">
        <h2 class="text-xl font-bold mb-4">EVENT DETAILS</h2>
        <p class="text-gray-600">
          {{ event.description }}
        </p>
      </div>

      <div class="bg-white p-6 rounded-lg shadow-sm">
        <h2 class="text-xl font-bold mb-4">EVENT IMAGE</h2>
        <img
          src="{{ event.evn_img.url }}"
          alt="Event Image"
          class="w-full rounded-lg"
        />
      </div>
    </div>
  </div>
</div>
{% endblock content %}
