{% extends "dashboard/dashboard.html" %} {% block title %} Organizer Dashboard {% endblock title %}
{% block events %}
 {% comment %} Event Table {% endcomment %}
		<main>
			{% comment %} Stats Grid {% endcomment %}
			<div class="grid grid-cols-4 gap-6 mb-8">
				{% comment %} Total Event {% endcomment %}
				<a href="{% url 'organizer_dashboard' %}?type=total">
					<div class="bg-white rounded-xl p-6 shadow-sm">
						<h3 class="text-center text-2xl font-semibold font-semibold text-blue-700 mb-3">Total Events</h3>
						<p class="text-center text-2xl font-semibold font-semibold mb-1">{{counts.total_events}}</p>
					</div>
				</a>
				{% comment %} Total Participant {% endcomment %}
				<div class="bg-white rounded-xl p-6 shadow-sm">
					<h3 class="text-center text-2xl font-semibold font-semibold text-blue-700 mb-3">
						Total Participant</h3>
					{% comment %}
					<p class="text-center text-2xl font-semibold font-semibold mb-1">{{counts.total_participants}}</p>
					{% endcomment %}
				</div>
				{% comment %} Upcoming Events {% endcomment %}
				<a href="{% url 'organizer_dashboard' %}?type=upcoming">
					<div class="bg-white rounded-xl p-6 shadow-sm">
						<h3 class="text-center text-2xl font-semibold font-semibold text-blue-700 mb-3">
						Up Coming Events</h3>
						<p class="text-center text-2xl font-semibold font-semibold mb-1">{{counts.upcoming_events}}</p>
					</div>
				</a>
				{% comment %} Past Events {% endcomment %}
				<a href="{% url 'organizer_dashboard' %}?type=past">
					<div class="bg-white rounded-xl p-6 shadow-sm">
						<h3 class="text-center text-2xl font-semibold font-semibold text-blue-700 mb-3">
						Past Events</h3>
						<p class="text-center text-2xl font-semibold font-semibold mb-1">{{counts.past_events}}</p>			
					</div>
				</a>
			</div>
			<div>
				{% if messages %}
					{% for message in messages %}
						<div class="px-2 py-1 {% if message.tags == 'error' %} bg-red-500 {% endif %} "> {{message}}</div>
					{% endfor %}
				{% endif %}
			</div>
		</main>
		{% comment %}Event List{% endcomment %}
		<h2 class="text-3xl font-semibold font-semibold text-purple-600 mb-3">Today's Events</h2>
		<div class="bg-white rounded-xl shadow-sm">
			<div
				class="grid grid-cols-4 gap-8 p-4 border-b border-gray-100 text-sm text-gray-500"
			>
				<div>Event Name</div>
				<div>Category</div>
				<div>Date</div>
				<div>Edit</div>
			</div>
			<div class="divide-y divide-gray-100">
				{% for evn in events %}
					<div class="grid grid-cols-4 p-2 gap-2 items-center">
						<span>{{evn.name}}</span>
						<div>
							<span class="px-3 py-1 rounded-full bg-blue-50 text-blue-600 text-sm">{{evn.category.name}}</span>
						</div>
						<div>
							<span class="text-gray-500">{{evn.date}}</span>
						</div>
						<div class="flex justify-items-center items-center gap-3">
							<a href="{% url 'update_event' evn.id %}" class="px-1 py-1 border-1 border-indigo-500 rounded-md hover:bg-indigo-500 hover:text-white">Update</a>
							<form action="{% url 'delete_event' evn.id %}" method="POST">
							{% csrf_token %}
							<button type="submit" class="px-1 py-1 border-1 border-red-500 rounded-md hover:bg-red-500 hover:text-white">Delete</button>
							</form>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
{% endblock events %}